body {
    background-color: rgb(238, 238, 238);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: -1px;
}

.container {
    width: 350px;
}

.container h1:first-child {
    text-align: center;
    margin: 40px 0;
}

.container .balance h2, h1 {
    margin: 0;
}

.container .balance h2 {
    font-weight: 500;
}

.container .balance h1 {
    letter-spacing: normal;
}

.income-expense {
    display: flex;
    background-color: white;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px 0 30px;
    box-shadow: 0 0 6px 1px rgb(211, 211, 211);
}

.income-expense div {
    text-align: center;
}

.income-expense h2 {
    font-weight: 600;
    font-size: 20px;
}

.income-expense div h2:last-of-type {
    font-size: 25px;
    font-weight: 500;
    margin-top: 5px;
    letter-spacing: normal;
}

.income-expense span.border {
    display: inline-block;
    background-color:  #cfcfcf;
    width: 1px;
    height: 50px;
    margin-inline: 50px;
}

.income-expense .income h2:last-of-type {
    color: rgb(70, 206, 70);
}

.income-expense .expense h2:last-of-type {
    color: rgb(192, 24, 24);
}

.history, .add-transaction {
    width: 100%;
}

.history > span,
.add-transaction > span:first-of-type {
    display: block;
    height: 1px;
    width: 100%;
    margin: 10px 0 15px;
    background-color: #b1b1b1;
}

.history .entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10px;
    background-color: white;
    position: relative;
    box-shadow: 0 0 6px 1px rgb(211, 211, 211);
    margin: 15px 0;
}

.history .entry.income::after {
    content: "";
    position: absolute;
    top: 0;
    right: -5px;
    height: 100%;
    width: 5px;
    background-color: rgb(70, 206, 70);
}

.history .entry.expense::after {
    background-color: rgb(192, 24, 24);
}

.add-transaction {
    margin-top: 40px;
}

.add-transaction input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #cfcfcf;
    margin: 8px 0; 
    font-size: 18px;
}

.add-transaction span:last-of-type {
    color: rgb(94, 94, 94);
    font-size: 14px;
}

.add-transaction button {
    color: white;
    background-color: #9c88ff;
    text-align: center;
    width: 100%;
    padding: 10px;
    border: none;
    margin: 8px 0;
    font-size: 18px;
}